---
import Layout from '../layouts/Layout.astro';
import Navigator from '../components/Navigator.astro';
import SeccionObra from '../components/SeccionObra.astro';
import '../../public/css/vScroll.css';
---

<Layout title="Teatro Asuncion Cuestablanca">		
	<Navigator />
	<SeccionObra title='mammaMia' headerString='Mamma Mia!'>
		<a href="/MammaMia/PDM-18/">18 de Mayo</a>
		<a href="/MammaMia/PDM-19/">19 de Mayo</a>
		<a href="/MammaMia/PDM-24/">24 de Mayo</a>
		<a href="/MammaMia/PDM-25/">25 de Mayo</a>
		<a href="/MammaMia/PDM-Equipo/">Equipo</a>
	</SeccionObra>
	</main>
</Layout>

<style>
	body{
		background-color: #a9cedc;
	}
</style>

