---
import Layout from '../layouts/Layout.astro';
import Navigator from '../components/Navigator.astro';
import SeccionObra from '../components/SeccionObra.astro';
import '../../public/css/vScroll.css';
---

<Layout title="Teatro Asuncion Cuestablanca">		
	<Navigator />
	<SeccionObra title='mammaMia' headerString='Mamma Mia!'>
		<a href="/MammaMia/PDM_18/">18 de Mayo</a>
		<a>19 de Mayo</a>
		<a>24 de Mayo</a>
		<a>25 de Mayo</a>
	</SeccionObra>
	</main>
</Layout>

