---
import Layout from '../../layouts/Layout.astro';
import Navigator from '../../components/Navigator.astro';
import '../../../public/css/vScroll.css';
import CardMMiaIZ from '../../components/CardMMiaIZ.astro';
import CardMMiaDR from '../../components/CardMMiaDR.astro';
import SeccionCards from '../../components/seccionCards.astro';
---

<Layout title="Equipo y Dirección Mamma Mia">
	<main>		
		<Navigator />
              <!-- POP UP Images -->
      <div class="popUpImage">
        <span>&times;</span>
        <img src=""/>
      </div>

      <!-- Seccion -->

      <SeccionCards header="Dirección">      
        <CardMMiaIZ src='/sfx/cast/img-nachoB.jpg' nombre='Nacho Berrio Jiménez'          papel=Artística /> 
        <CardMMiaDR src='/sfx/cast/img-joserra.jpg' nombre='Joserra García-Soto'          papel=Musical /> 
        <CardMMiaIZ src='/sfx/cast/img-bego.jpg' nombre='Begoña Zumárraga Dusmet'         papel=Musical />
        <CardMMiaDR src='/sfx/cast/img-moni.jpg' nombre='Monica Picó'                       papel=Escenografía /> 
      </SeccionCards>

      <SeccionCards header="Coreografías">      
        <CardMMiaIZ src='/sfx/cast/img-henar.jpg' nombre='Henar Romo Gorraíz'             papel=Coreógrafa /> 
        <CardMMiaDR src='/sfx/cast/img-clau.jpg' nombre='Claudia Alonso Perucha'          papel=Coreógrafa /> 
        <CardMMiaIZ src='/sfx/cast/img-ale.jpg' nombre='Alejandra Moreno'                 papel=Coreógrafa />
      </SeccionCards>

      <SeccionCards header="Sonido, Iluminación y Montaje">      
        <CardMMiaIZ src='/sfx/cast/img-rafa.jpg' nombre='Rafael Melero'                     papel=Técnico /> 
        <CardMMiaDR src='/sfx/cast/img-marisol.jpg' nombre='Marisol Rodríguez'                 papel=Técnico /> 
        <CardMMiaIZ src='/sfx/cast/img-carlosC.jpg' nombre='Carlos Casarrubio'                 papel=Técnico />
        <CardMMiaDR src='/sfx/cast/img-sergioC.jpg' nombre='Sergio Casarrubio'                 papel=Técnico />
        <CardMMiaIZ src='/sfx/cast/img-diana.jpg' nombre='Diana García'                      papel=Técnico /> 
        <CardMMiaDR src='/sfx/cast/img-gonzalo.jpg' nombre='Gonzalo Moreno'                    papel=Técnico /> 
        <CardMMiaIZ src='/sfx/cast/img-pablo.jpg' nombre='Pablo García'                      papel=Técnico />
        <CardMMiaDR src='/sfx/cast/img-antonioP.jpg' nombre='Antonio Amaya'                     papel=Técnico />
        <CardMMiaIZ src='/sfx/cast/img-alex.jpg' nombre='Alejandro Álvarez'               papel=Técnico /> 
        <CardMMiaDR src='/sfx/cast/img-00.jpg' nombre='Pedro Atrio'                       papel=Técnico /> 
        <CardMMiaIZ src='/sfx/cast/img-00.jpg' nombre='Amaia Michinel'                    papel=Técnico />
        <CardMMiaDR src='/sfx/cast/img-gascu.jpg' nombre='Víctor Gascueña'                   papel=Técnico />
      </SeccionCards>

      <SeccionCards header='Equipo de Sala'>
        <CardMMiaIZ src='/sfx/cast/img-aleB.jpg' nombre='Alejandra Berrio'                  papel=Equipo />
        <CardMMiaDR src='/sfx/cast/img-nicole.jpg' nombre='Nicole'                            papel=Equipo />
        <CardMMiaIZ src='/sfx/cast/img-adriana.jpg' nombre='Adriana'                           papel=Equipo />
      </SeccionCards>
        
	</main>
</Layout>

<style>
  html, body, main{
    background-color: #aacedc;
    overflow-y: scroll;
  }

.popUpImage{
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity */
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;
    z-index: 2;
  }
  
  .popUpImage span{
    position: absolute;
    top: 40px; right: 60px;
    font-size: 40px;
    font-weight: bolder;
    color:whitesmoke;
    cursor: pointer;
  }
  
  .popUpImage img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    max-height: 80%;
    max-width: 80%;
    object-fit: cover;
  }
</style>

<script>
  document.querySelectorAll('.item img').forEach(image=>{
    image.addEventListener('click', () => {
      const popUpImage = document.querySelector('.popUpImage') as HTMLDivElement;
      const popUpImageImg = document.querySelector('.popUpImage img') as HTMLImageElement;

      popUpImage.style.display = 'block';
      popUpImageImg.src = image.getAttribute('src')!;
      })
  })

  document.querySelector('.popUpImage')?.addEventListener('click', () => {
    (document.querySelector('.popUpImage') as HTMLDivElement).style.display = 'none';
  })
</script>